@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "./animations.css";
@import "./utilities.css";
@import "./button/buttons.css";

@tailwind utilities;

:root {
  --background: #030708; /* c'est la bonne couleur récupérée depuis le Figma */

  /* global colors */
  --color-text-primary: #FEFFFF;
  --color-dark-primary: #030708;

  --color-bg-primary: #FEFFFF;
  --color-bg-violet: #7444C3;

  /* various variables */
  --scrollbar-position: 150px;
  --scrollbar-width: 2px;
}

@theme {
  --color-background: var(--background);

  /* global colors */
  --color-text-primary: var(--color-text-primary);
  --color-dark-primary: var(--color-dark-primary);

  /* spacing */
  --spacing-4: 0.25rem; /* 4px */
  --spacing-9: 0.563rem; /* 9px */
  --spacing-12: 0.75rem; /* 12px */
  --spacing-16: 1rem; /* 16px */
  --spacing-24: 1.5rem; /* 24px */
  --spacing-32: 2rem; /* 32px */
  --spacing-40: 2.5rem; /* 40px */
  --spacing-64: 4rem; /* 64px */
  --spacing-80: 8rem; /* 80px */

  /* font-size */
  --text-2rem: 2rem; /* 32px */
}

body {
  background: var(--background);
  color: var(--color-text-primary);
  font-family: Montserrat, sans-serif;
}
body.overflow-hidden {
  overflow: hidden;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.cursor-follower {
  position: fixed;
  width: 60px;
  height: 60px;
  pointer-events: none;
  z-index: 1;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out;
  background: linear-gradient(149.67deg,
    rgba(254, 205, 10, 0.6) 20.5%,
    rgba(255, 180, 0, 0.6) 20.5%,
    rgba(234, 91, 12, 0.6) 38.45%,
    rgba(227, 10, 18, 0.6) 46.62%,
    rgba(150, 27, 129, 0.6) 59.13%,
    rgba(116, 68, 195, 0.6) 71.65%
  );
  filter: blur(35px);
}
