@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "./animations.css";
@import "./utilities.css";
@import "./button/buttons.css";
@import "./embla.css";

@tailwind utilities;

:root {
  --background: #030708; /* c'est la bonne couleur récupérée depuis le Figma */

  /* global colors */
  --color-text-primary: #FEFFFF;
  --color-dark-primary: #030708;

  --color-bg-primary: #FEFFFF;
  --color-bg-violet: #7444C3;

  /* various variables */
  --scrollbar-position: 150px;
  --scrollbar-width: 2px;
}

@theme {
  --color-background: var(--background);

  /* global colors */
  --color-text-primary: var(--color-text-primary);
  --color-dark-primary: var(--color-dark-primary);

  /* spacing */
  --spacing-4: 0.25rem; /* 4px */
  --spacing-9: 0.563rem; /* 9px */
  --spacing-12: 0.75rem; /* 12px */
  --spacing-16: 1rem; /* 16px */
  --spacing-24: 1.5rem; /* 24px */
  --spacing-32: 2rem; /* 32px */
  --spacing-40: 2.5rem; /* 40px */
  --spacing-64: 4rem; /* 64px */
  --spacing-80: 5rem; /* 80px */
  --spacing-120: 7.5rem; /* 120px */
  --spacing-160: 10rem; /* 160px */

  /* font-size */
  --text-2rem: 2rem; /* 32px */
}

body {
  background: var(--background);
  color: var(--color-text-primary);
  font-family: Montserrat, sans-serif;
}
body.overflow-hidden {
  overflow: hidden;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@media screen and (min-width: 768px) {
  .cursor-follower {
    position: fixed;
    width: 60px;
    height: 60px;
    pointer-events: none;
    z-index: 1;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease-out;
    background: linear-gradient(149.67deg,
      rgba(254, 205, 10, 0.6) 20.5%,
      rgba(255, 180, 0, 0.6) 20.5%,
      rgba(234, 91, 12, 0.6) 38.45%,
      rgba(227, 10, 18, 0.6) 46.62%,
      rgba(150, 27, 129, 0.6) 59.13%,
      rgba(116, 68, 195, 0.6) 71.65%
    );
    filter: blur(35px);
  }
}

.loader-circle {
  background: conic-gradient(
    #FFB400 0deg,
    #F29200 15deg,
    #EA5B0C 30deg,
    #E30A12 45deg,
    #961B81 60deg,
    #7444C3 75deg,
    #030708 90deg
  );
}



/**,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 12px;
  --color-text: #1a1a1a;
  --color-bg: #fff;
  --color-link: #1a1a1a;
  --color-link-hover: #1a1a1a;
  --page-padding: 1.5rem;
}

body {
  margin: 0;
  color: var(--color-text);
  !*background-color: var(--color-bg);*!
  font-family: ui-monospace, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'TWK Lausanne', sans-serif;
}

body {
  margin: 0;
}*/

@media (scripting: enabled) {
  .loading {
    &::before,
    &::after {
      content: '';
      position: fixed;
      z-index: 10000;
    }

    &::before {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--color-dark-primary);
    }

    &::after {
      top: 50%;
      left: 50%;
      width: 100px;
      height: 1px;
      margin: 0 0 0 -50px;
      background: var(--color-bg-violet);
      animation: loaderAnim 1.5s ease-in-out infinite alternate forwards;
    }
  }
}

@keyframes loaderAnim {
  0% {
    transform: scaleX(0);
    transform-origin: 0% 50%;
  }

  50% {
    transform: scaleX(1);
    transform-origin: 0% 50%;
  }

  50.1% {
    transform: scaleX(1);
    transform-origin: 100% 50%;
  }

  100% {
    transform: scaleX(0);
    transform-origin: 100% 50%;
  }
}

/*a {
  text-decoration: none;
  color: var(--color-bg-violet);
  outline: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    color: var(--color-bg-violet);
  }

  &:focus {
    outline: none;
    background: lightgrey;

    &:not(:focus-visible) {
      background: transparent;
    }

    &:focus-visible {
      outline: 2px solid red;
      background: transparent;
    }
  }
}*/

.frame {
  display: grid;
  z-index: 1000;
  grid-row-gap: 1rem;
  grid-column-gap: 2rem;
  pointer-events: none;
  justify-items: start;
  align-content: start;
  padding: 1.5rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  grid-template-columns: auto auto auto 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    'title title title title'
    'back github archive ...'
    'sponsor sponsor sponsor sponsor';

  #cdawrap {
    max-width: 260px;
    align-self: end;
  }

  a,
  button {
    pointer-events: auto;
  }

  .frame__title {
    grid-area: title;
    font-size: inherit;
    margin: 0;
  }

  .frame__back {
    grid-area: back;
    justify-self: start;
  }

  .frame__archive {
    grid-area: archive;
    justify-self: start;
  }

  .frame__github {
    grid-area: github;
  }

  .frame__tags {
    grid-area: tags;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .frame__demos {
    grid-area: demos;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

.content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: relative;

  @media screen and (min-width: 53em) {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }
}

.hidden-controls {
  display: none !important;
}
