:root {
  --btn-pink-focus: #1D0016;
}

@theme {
  --color-btn-pink-focus: var(--btn-pink-focus);
}

.bg-btn-pink-focus {
  background-color: var(--btn-pink-focus);
}

.conic-pink-btn {
  --angle: 92.7deg;

  border: none;
  background: linear-gradient(
    var(--angle),
    rgba(151, 36, 124, 0.12) 0.64%,
    rgba(151, 36, 124, 0) 25.12%,
    rgba(151, 36, 124, 0.8) 52.25%,
    rgba(151, 36, 124, 0) 80.45%,
    rgba(151, 36, 124, 0.8) 101.2%
  );
}

.active-status-pink {
  box-shadow: 0 4px 8px 0 #97247C80;
}

.trigger-animate-pink-button:has(:hover) {
  animation:
    rotate-angle 2s cubic-bezier(.2, .8, .8, .2) both,
    shadowPinkTransition .5s ease-in-out both;
}

@keyframes shadowPinkTransition {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  100% {
    box-shadow: 0 4px 8px 0 #97247C80;
  }
}
